*{
    padding: 0;
    margin: 0;
}

html{
    background: #C8B4B4;
}
p{
    color: white;
    font-size: 10rem;
}
body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#conteiner{
    justify-content: center;
    align-self: center;
    margin-left: 5vw;

}
.botao{
    width: 20vw;
    height: 10vh;
    border-radius: 25px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
#imagens{
    width: 15vw;
    height: 28vh;
}
#titulo{
    display: flex;
}
#logo_mira{
    -webkit-user-drag: none;
}