html{
    background: #C8B4B4;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
main{
    font-size: 4rem;
    width: 40vw;
}

.tempo{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-size: 4rem;
    width: 3vw;
    background: #C8B4B4;
    color: white;
}
#idioma{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    font-size: 4rem;
    width: 18vw;
    background: #C8B4B4;
    color: white;
}
#fileUpload{
    background: #afadad;
    display: flex;
    width: 5vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    border: solid white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#fileUpload:hover{
    transform: translateY(-15px);
    background: #C8B4B4;
}
#icone{
    font-size: 4rem;
}
.gavetas_tempo{
    display: flex;
}
.gavetas_alvo{
    display: flex;
    padding-top: 40px;
}

.opcao_alvo{
    background: #afadad;
    border: solid white;
    border-radius: 15px;
    width: 5vw;
    height: 10.5vh;
    transition: 0.5s;
    cursor: pointer;
}
.opcao_alvo:hover{
    transform: translateY(-15px);
    background: #C8B4B4;
}