html{
    background: #C8B4B4;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#conteiner{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0;
    color: transparent;
}
#timer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    font-size: 4rem;
}
#tempo{
    margin-right: 1vw;
}
#alvos{
    width: 5vw;
    height: 10vh;
    border-radius: 40px;
    background: #C8B4B4;
    border: none;
    position: relative;

}
#imagem_mira{
    user-select: none;
    -webkit-user-drag: none;
}